{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 class="my-4">Home Page</h1>
{% for post in posts %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content }}</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ post.date_posted }} by {{ post.author.username }}
        </div>
    </div>
{% endfor %}
{% endblock %}
